<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/tutorials/CSS-flexbox/style_flexbox.css">

title  CSS flexbox

.example-layout

    .body
        .col-1 Main Content
        .col-2 Navigation
        .col-3 Sidebar


    .example-page.example-media

        .media
          img(src="http://fillmurray.com/50/50")
          .content gangsta lorem ipsum dolor sit amet, consectutur
          hr

        .search-group
            input(type="text" placeholder="Search")
            input(type="submit" placeholder="Search")
