<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/tutorials/CSS-flexbox/style_flexbox.css">

title  CSS flexbox

.example-layout

    .body
        .col-1 Main Content
          p what are you up to today man
          h1 this is what you are talking about
          p this is crazy who ha shit
            h2 yo man yo
            p  yo
        .col-2 Navigation
        .col-3 Sidebar


    .example-page.example-media
        .search-group
            input(type="text" placeholder="Search")
            input(type="submit" placeholder="Search")
